manifest {
    mainscript = 'sync_to_silico'
}

//default parameters
params {
    cores = '8'
    memory = '12'

    // inputs
    dir = ''
    
    // folder structures
    output = 'results'
}

profiles {
    local {

    }

    docker {enabled = true}
    includeconfig 'configs/container.config'
}