manifest {
    mainScript = 'wet_lab_to_in_silico.nf'
}

// default parameters
params {
    cores = '8'
    memory = '12'
  
    // input
    dir = ''

    // settings
    localguppy = false
    single = false
    
    // folder structure
    output = 'results'
    
}

profiles {
    local {
        workDir = "tmp/nextflow-wltis-$USER"
    }

    docker {
        docker { enabled = true}
    }

}
