manifest {
    mainScript = 'wet_lab_to_in_silico.nf'
}

// default parameters
params {
    cores = '4'
    memory = '12'
    help = false
    
    // input
    dir = ''

    // settings
    localguppy = false
    single = false
    
    // folder structure
    output = 'results'
    
}

profiles {
    standard {
        workDir = "work/nextflow-wltis-$USER"
        docker { enabled = true }
        docker { fixOwnership = true }
    }

}
